*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: blueviolet;
}
#container{
    height: 400px;
    width:400px;
    background-color: white;
    text-align: center;
    margin: auto;
    margin-top: 8%;
    border-radius: 30px;
}
h1{
    margin-bottom: 30px;
    padding-top: 20px;
}
#question{
    font-size: 22px;
}
#option{
    display: flex;
    flex-direction: column;
    margin: 30px;
    gap: 10px;
}
button{
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    border: 2px solid blueviolet;
    background-color: transparent;
}
button:hover{
    background-color: blueviolet;
}